.grid-container {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
    background: teal;
}

.grid {
    // display: grid;
    justify-content: center;
    background: purple;
    padding: 10px;
    height: 80%;
    
}

.inner-grid {
    display: grid;
}