$white: #FEFEFE;
$light-grey: #d3d3d3;
$grey: #808080;
$dark-grey: #a9a9a9;
$black: #000000;

$grey-1: #EEEEEE;
$grey-2: #CCCCCC;
$grey-3: #999999;
$grey-4: #666666;
$grey-5: #333333;
$grey-6: #000000;